# environment
PORT=8000
NODE_ENV="development"

# rpc
ORAI_RPC_URL="https://oraichain-rpc.publicnode.com:443"

# database
MONGODB_URL="mongodb://admin:root@localhost:27017/"

# bcrypt
BCRYPT_ROUNDS=10

# api key
API_KEY="nestjs-boilerplate-ver2-api-key"

# jwt
JWT_SECRET="nestjs-boilerplate-ver2-jwt-secret"
JWT_ACCESS_TOKEN_EXPIRATION_TIME="5m"
JWT_REFRESH_TOKEN_EXPIRATION_TIME="1d"